<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="title">我的第一个模板</div>
        <div class="main">主要内容</div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corporis cupiditate debitis
            deleniti dolore, facilis fugit, libero nemo nesciunt nobis numquam odio quam quas quia sequi
            temporibus vel, velit voluptatem.
        </div>
    </div>
</body>
</html>